*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(250, 205, 57);
    font-size: 1.1em;
    color: white;
}

header{
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

h1{
    font-size: 2em;
    
}

main{
    width: 100%;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    color: black;
    align-items: center;
}

div#dados{
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

div#dados p {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px;
     
}

p#botao {
    height: 28px;
}

div#dados input {
    width: 200px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

div#dados input[type="button"]{
    width: 75px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8em;
}

footer{
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}