*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

header{

}

h1{
    
}

main{
  
}

section{

}

footer{
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 1em;
}